*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  max-width: 80%;
  margin: 20px auto;
}
article {
  max-width: 350px;
  box-shadow: 23px 16px 24px -18px rgba(0,0,0,0.75);
  border-radius: 10px;
}
article img {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}



.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: conic-gradient(#0000 10%,#474bff);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
   to {
      transform: rotate(1turn);
   }
}